@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: 'Source Code Pro';
  src: url('sourcecodepro.otf');
}

body {
  font-family: 'Open Sans', 'Arial';
  /*background-color: #00030c;*/
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  color: white;
}
.title {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 500%;
  text-align: center;
}

.gameContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.initModal, .rickroll{
  display: none;
}
.bold {
  font-weight: bold;
}
.cyan {
  color: purple;
}
.lime {
  color: blue;
}
.gray {
  color: brown;
}
.overlay{
  z-index: 2;
  position: fixed;
  background-color: black;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  opacity: 0;
}
#confetti{
  z-index: 2;
  position: fixed;
  background-color: black;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  opacity: 0;
}

#endtext {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  opacity: 1;
}
