@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'Source Code Pro';
  src: url('../sourcecodepro.otf');
}

body {
  font-family: 'Open Sans', 'Arial';
  background-color: #00030c;
  color: white;
}
.gameContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inventoryContainer {
  opacity: 0;
  z-index: 3;
  background-color: black;
  color: limegreen;
  font-family: 'Source Code Pro';
  
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 70%;
  height: 50%;
}
.initModal, .rickroll{
  display: none;
}
.bold {
  font-weight: bold;
}
.cyan {
  color: darkturquoise;
}
.lime {
  color: chartreuse;
}
.gray {
  color: gray;
}
#overlay{
  z-index: 2;
  position: fixed;
  background-color: black;
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  opacity: 0;
}
#confetti{
  z-index: 2;
  position: fixed;
  background-color: black;
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  opacity: 0;
}

#endtext {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  opacity: 1;
}